In [1]:
# import dependencies
import pandas as pd
import numpy as np

In [2]:
# name the csv files
students_file = 'Resources/students_complete copy.csv'
schools_file = 'Resources/schools_complete copy.csv'

In [3]:
# create dataframes
df_students = pd.read_csv(students_file)
df_schools = pd.read_csv(schools_file)

In [4]:
# check students dataframe
df_students.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
# check schools dataframe
df_schools.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [6]:
#

In [7]:
# District Summary

# 1) Total Schools
total_schools = df_schools['school_name'].value_counts()
total_schools = total_schools.sum()

# 2) Total Students
total_students = df_students['student_name'].value_counts()
total_students = total_students.sum()

# 3) Total Budget
total_budget = df_schools['budget']
total_budget = total_budget.sum()

# 4) Average Math Score
total_math = df_students['math_score']
average_math = round(total_math.mean(), 2)

# 5) Average Reading Score
total_reading = df_students['reading_score']
average_reading = round(total_reading.mean(), 2)

# 6) % Passing Math
passing_math = total_math >= 70
passing_math = passing_math.sum()
percent_passing_math = round(passing_math / total_students, 4)*100

# 7) % Passing Reading
passing_reading = total_reading >= 70
passing_reading = passing_reading.sum()
percent_passing_reading = round(passing_reading / total_students, 4)*100

# 8) # Overall Passing Rate (Average of the above two)
passing_rate = round((passing_math + passing_reading) / (total_students*2), 4)*100
passing_rate

# 9) Create a high level snapshot (in table form) of the district's key metrics
district_summary = pd.DataFrame(
    {'Total Students': [total_students],
     'Total Budget': '$' + ' ' + str(total_budget),
     'Average Math Score': '%' + ' ' + str(average_math),
     'Average Reading Score': '%' + ' ' + str(average_reading),
     'Percent Passing Math': '%' + ' ' + str(percent_passing_math),
     'Percent Passing Reading': '%' + ' ' + str(percent_passing_reading),
     'Overall Passing Rate': '%' + ' ' + str(passing_rate)
    })

district_summary

,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
0,39170,$ 24649428,% 78.99,% 81.88,% 74.98,% 85.81,% 80.39

In [8]:
# School Summary

# combine data
combined_data = pd.merge(df_students, df_schools, how='left', on=['school_name', 'school_name'])

# list schools
schools_list = list(combined_data['school_name'].unique())
schools_list

# gather data by school
by_school_0 = combined_data.loc[combined_data['school_name'] == schools_list[0], :]

school_name_0 = by_school_0['school_name'].unique()
school_type_0 = by_school_0['type'].unique()
total_students_0 = by_school_0['student_name'].count()
total_budget_0 = by_school_0['budget'].unique()
per_student_budget_0 = total_budget_0 / total_students_0
average_math_score_0 = round(by_school_0['math_score'].sum() / total_students_0, 2)
average_reading_score_0 = round(by_school_0['reading_score'].sum() / total_students_0, 2)
percent_passing_math_0 = round(((by_school_0['math_score'] >= 70).sum() / total_students_0)*100, 2)
percent_passing_reading_0 = round(((by_school_0['reading_score'] >= 70).sum() / total_students_0)*100, 2)
overall_passing_rate_0 = round((percent_passing_math_0 + percent_passing_reading_0) / 2, 2)

by_school_1 = combined_data.loc[combined_data['school_name'] == schools_list[1], :]

school_name_1 = by_school_1['school_name'].unique()
school_type_1 = by_school_1['type'].unique()
total_students_1 = by_school_1['student_name'].count()
total_budget_1 = by_school_1['budget'].unique()
per_student_budget_1 = total_budget_1 / total_students_1
average_math_score_1 = round(by_school_1['math_score'].sum() / total_students_1, 2)
average_reading_score_1 = round(by_school_1['reading_score'].sum() / total_students_1, 2)
percent_passing_math_1 = round(((by_school_1['math_score'] >= 70).sum() / total_students_1)*100, 2)
percent_passing_reading_1 = round(((by_school_1['reading_score'] >= 70).sum() / total_students_1)*100, 2)
overall_passing_rate_1 = round((percent_passing_math_1 + percent_passing_reading_1) / 2, 2)

by_school_2 = combined_data.loc[combined_data['school_name'] == schools_list[2], :]

school_name_2 = by_school_2['school_name'].unique()
school_type_2 = by_school_2['type'].unique()
total_students_2 = by_school_2['student_name'].count()
total_budget_2 = by_school_2['budget'].unique()
per_student_budget_2 = total_budget_2 / total_students_2
average_math_score_2 = round(by_school_2['math_score'].sum() / total_students_2, 2)
average_reading_score_2 = round(by_school_2['reading_score'].sum() / total_students_2, 2)
percent_passing_math_2 = round(((by_school_2['math_score'] >= 70).sum() / total_students_2)*100, 2)
percent_passing_reading_2 = round(((by_school_2['reading_score'] >= 70).sum() / total_students_2)*100, 2)
overall_passing_rate_2 = round((percent_passing_math_2 + percent_passing_reading_2) / 2, 2)

by_school_3 = combined_data.loc[combined_data['school_name'] == schools_list[3], :]

school_name_3 = by_school_3['school_name'].unique()
school_type_3 = by_school_3['type'].unique()
total_students_3 = by_school_3['student_name'].count()
total_budget_3 = by_school_3['budget'].unique()
per_student_budget_3 = total_budget_3 / total_students_3
average_math_score_3 = round(by_school_3['math_score'].sum() / total_students_3, 2)
average_reading_score_3 = round(by_school_3['reading_score'].sum() / total_students_3, 2)
percent_passing_math_3 = round(((by_school_3['math_score'] >= 70).sum() / total_students_3)*100, 2)
percent_passing_reading_3 = round(((by_school_3['reading_score'] >= 70).sum() / total_students_3)*100, 2)
overall_passing_rate_3 = round((percent_passing_math_3 + percent_passing_reading_3) / 2, 2)

by_school_4 = combined_data.loc[combined_data['school_name'] == schools_list[4], :]

school_name_4 = by_school_4['school_name'].unique()
school_type_4 = by_school_4['type'].unique()
total_students_4 = by_school_4['student_name'].count()
total_budget_4 = by_school_4['budget'].unique()
per_student_budget_4 = total_budget_4 / total_students_4
average_math_score_4 = round(by_school_4['math_score'].sum() / total_students_4, 2)
average_reading_score_4 = round(by_school_4['reading_score'].sum() / total_students_4, 2)
percent_passing_math_4 = round(((by_school_4['math_score'] >= 70).sum() / total_students_4)*100, 2)
percent_passing_reading_4 = round(((by_school_4['reading_score'] >= 70).sum() / total_students_4)*100, 2)
overall_passing_rate_4 = round((percent_passing_math_4 + percent_passing_reading_4) / 2, 2)

by_school_5 = combined_data.loc[combined_data['school_name'] == schools_list[5], :]

school_name_5 = by_school_5['school_name'].unique()
school_type_5 = by_school_5['type'].unique()
total_students_5 = by_school_5['student_name'].count()
total_budget_5 = by_school_5['budget'].unique()
per_student_budget_5 = total_budget_5 / total_students_5
average_math_score_5 = round(by_school_5['math_score'].sum() / total_students_5, 2)
average_reading_score_5 = round(by_school_5['reading_score'].sum() / total_students_5, 2)
percent_passing_math_5 = round(((by_school_5['math_score'] >= 70).sum() / total_students_5)*100, 2)
percent_passing_reading_5 = round(((by_school_5['reading_score'] >= 70).sum() / total_students_5)*100, 2)
overall_passing_rate_5 = round((percent_passing_math_5 + percent_passing_reading_5) / 2, 2)

by_school_6 = combined_data.loc[combined_data['school_name'] == schools_list[6], :]

school_name_6 = by_school_6['school_name'].unique()
school_type_6 = by_school_6['type'].unique()
total_students_6 = by_school_6['student_name'].count()
total_budget_6 = by_school_6['budget'].unique()
per_student_budget_6 = total_budget_6 / total_students_6
average_math_score_6 = round(by_school_6['math_score'].sum() / total_students_6, 2)
average_reading_score_6 = round(by_school_6['reading_score'].sum() / total_students_6, 2)
percent_passing_math_6 = round(((by_school_6['math_score'] >= 70).sum() / total_students_6)*100, 2)
percent_passing_reading_6 = round(((by_school_6['reading_score'] >= 70).sum() / total_students_6)*100, 2)
overall_passing_rate_6 = round((percent_passing_math_6 + percent_passing_reading_6) / 2, 2)

by_school_7 = combined_data.loc[combined_data['school_name'] == schools_list[7], :]

school_name_7 = by_school_7['school_name'].unique()
school_type_7 = by_school_7['type'].unique()
total_students_7 = by_school_7['student_name'].count()
total_budget_7 = by_school_7['budget'].unique()
per_student_budget_7 = total_budget_7 / total_students_7
average_math_score_7 = round(by_school_7['math_score'].sum() / total_students_7, 2)
average_reading_score_7 = round(by_school_7['reading_score'].sum() / total_students_7, 2)
percent_passing_math_7 = round(((by_school_7['math_score'] >= 70).sum() / total_students_7)*100, 2)
percent_passing_reading_7 = round(((by_school_7['reading_score'] >= 70).sum() / total_students_7)*100, 2)
overall_passing_rate_7 = round((percent_passing_math_7 + percent_passing_reading_7) / 2, 2)

by_school_8 = combined_data.loc[combined_data['school_name'] == schools_list[8], :]

school_name_8 = by_school_8['school_name'].unique()
school_type_8 = by_school_8['type'].unique()
total_students_8 = by_school_8['student_name'].count()
total_budget_8 = by_school_8['budget'].unique()
per_student_budget_8 = total_budget_8 / total_students_8
average_math_score_8 = round(by_school_8['math_score'].sum() / total_students_8, 2)
average_reading_score_8 = round(by_school_8['reading_score'].sum() / total_students_8, 2)
percent_passing_math_8 = round(((by_school_8['math_score'] >= 70).sum() / total_students_8)*100, 2)
percent_passing_reading_8 = round(((by_school_8['reading_score'] >= 70).sum() / total_students_8)*100, 2)
overall_passing_rate_8 = round((percent_passing_math_8 + percent_passing_reading_8) / 2, 2)

by_school_9 = combined_data.loc[combined_data['school_name'] == schools_list[9], :]

school_name_9 = by_school_9['school_name'].unique()
school_type_9 = by_school_9['type'].unique()
total_students_9 = by_school_9['student_name'].count()
total_budget_9 = by_school_9['budget'].unique()
per_student_budget_9 = total_budget_9 / total_students_9
average_math_score_9 = round(by_school_9['math_score'].sum() / total_students_9, 2)
average_reading_score_9 = round(by_school_9['reading_score'].sum() / total_students_9, 2)
percent_passing_math_9 = round(((by_school_9['math_score'] >= 70).sum() / total_students_9)*100, 2)
percent_passing_reading_9 = round(((by_school_9['reading_score'] >= 70).sum() / total_students_9)*100, 2)
overall_passing_rate_9 = round((percent_passing_math_9 + percent_passing_reading_9) / 2, 2)

by_school_10 = combined_data.loc[combined_data['school_name'] == schools_list[10], :]

school_name_10 = by_school_10['school_name'].unique()
school_type_10 = by_school_10['type'].unique()
total_students_10 = by_school_10['student_name'].count()
total_budget_10 = by_school_10['budget'].unique()
per_student_budget_10 = total_budget_10 / total_students_10
average_math_score_10 = round(by_school_10['math_score'].sum() / total_students_10, 2)
average_reading_score_10 = round(by_school_10['reading_score'].sum() / total_students_10, 2)
percent_passing_math_10 = round(((by_school_10['math_score'] >= 70).sum() / total_students_10)*100, 2)
percent_passing_reading_10 = round(((by_school_10['reading_score'] >= 70).sum() / total_students_10)*100, 2)
overall_passing_rate_10 = round((percent_passing_math_10 + percent_passing_reading_10) / 2, 2)

by_school_11 = combined_data.loc[combined_data['school_name'] == schools_list[11], :]

school_name_11 = by_school_11['school_name'].unique()
school_type_11 = by_school_11['type'].unique()
total_students_11 = by_school_11['student_name'].count()
total_budget_11 = by_school_11['budget'].unique()
per_student_budget_11 = total_budget_11 / total_students_11
average_math_score_11 = round(by_school_11['math_score'].sum() / total_students_11, 2)
average_reading_score_11 = round(by_school_11['reading_score'].sum() / total_students_11, 2)
percent_passing_math_11 = round(((by_school_11['math_score'] >= 70).sum() / total_students_11)*100, 2)
percent_passing_reading_11 = round(((by_school_11['reading_score'] >= 70).sum() / total_students_11)*100, 2)
overall_passing_rate_11 = round((percent_passing_math_11 + percent_passing_reading_11) / 2, 2)

by_school_12 = combined_data.loc[combined_data['school_name'] == schools_list[12], :]

school_name_12 = by_school_12['school_name'].unique()
school_type_12 = by_school_12['type'].unique()
total_students_12 = by_school_12['student_name'].count()
total_budget_12 = by_school_12['budget'].unique()
per_student_budget_12 = total_budget_12 / total_students_12
average_math_score_12 = round(by_school_12['math_score'].sum() / total_students_12, 2)
average_reading_score_12 = round(by_school_12['reading_score'].sum() / total_students_12, 2)
percent_passing_math_12 = round(((by_school_12['math_score'] >= 70).sum() / total_students_12)*100, 2)
percent_passing_reading_12 = round(((by_school_12['reading_score'] >= 70).sum() / total_students_12)*100, 2)
overall_passing_rate_12 = round((percent_passing_math_12 + percent_passing_reading_12) / 2, 2)

by_school_13 = combined_data.loc[combined_data['school_name'] == schools_list[13], :]

school_name_13 = by_school_13['school_name'].unique()
school_type_13 = by_school_13['type'].unique()
total_students_13 = by_school_13['student_name'].count()
total_budget_13 = by_school_13['budget'].unique()
per_student_budget_13 = total_budget_13 / total_students_13
average_math_score_13 = round(by_school_13['math_score'].sum() / total_students_13, 2)
average_reading_score_13 = round(by_school_13['reading_score'].sum() / total_students_13, 2)
percent_passing_math_13 = round(((by_school_13['math_score'] >= 70).sum() / total_students_13)*100, 2)
percent_passing_reading_13 = round(((by_school_13['reading_score'] >= 70).sum() / total_students_13)*100, 2)
overall_passing_rate_13 = round((percent_passing_math_13 + percent_passing_reading_13) / 2, 2)

by_school_14 = combined_data.loc[combined_data['school_name'] == schools_list[14], :]

school_name_14 = by_school_14['school_name'].unique()
school_type_14 = by_school_14['type'].unique()
total_students_14 = by_school_14['student_name'].count()
total_budget_14 = by_school_14['budget'].unique()
per_student_budget_14 = total_budget_14 / total_students_14
average_math_score_14 = round(by_school_14['math_score'].sum() / total_students_14, 2)
average_reading_score_14 = round(by_school_14['reading_score'].sum() / total_students_14, 2)
percent_passing_math_14 = round(((by_school_14['math_score'] >= 70).sum() / total_students_14)*100, 2)
percent_passing_reading_14 = round(((by_school_14['reading_score'] >= 70).sum() / total_students_14)*100, 2)
overall_passing_rate_14 = round((percent_passing_math_14 + percent_passing_reading_14) / 2, 2)



# combine data by school
school_summary_df = pd.DataFrame({
    'School Name': [school_name_0, school_name_1, school_name_2, school_name_3, school_name_4, school_name_5, school_name_6, school_name_7, school_name_8, school_name_9, school_name_10, school_name_11, school_name_12, school_name_13, school_name_14],
    'Type': [school_type_0, school_type_1, school_type_2, school_type_3, school_type_4, school_type_5, school_type_6, school_type_7, school_type_8, school_type_9, school_type_10, school_type_11, school_type_12, school_type_13, school_type_14],
    'Total Students': [total_students_0, total_students_1, total_students_2, total_students_3, total_students_4, total_students_5, total_students_6, total_students_7, total_students_8, total_students_9, total_students_10, total_students_11, total_students_12, total_students_13, total_students_14],
    'Total Budget': [total_budget_0, total_budget_1, total_budget_2, total_budget_3, total_budget_4, total_budget_5, total_budget_6, total_budget_7, total_budget_8, total_budget_9, total_budget_10, total_budget_11, total_budget_12, total_budget_13, total_budget_14],
    'Budget Per Student': [per_student_budget_0, per_student_budget_1, per_student_budget_2, per_student_budget_3, per_student_budget_4, per_student_budget_5, per_student_budget_6, per_student_budget_7, per_student_budget_8, per_student_budget_9, per_student_budget_10, per_student_budget_11, per_student_budget_12, per_student_budget_13, per_student_budget_14],
    'Average Math Score': [average_math_score_0, average_math_score_1, average_math_score_2, average_math_score_3, average_math_score_4, average_math_score_5, average_math_score_6, average_math_score_7, average_math_score_8, average_math_score_9, average_math_score_10, average_math_score_11, average_math_score_12, average_math_score_13, average_math_score_14],
    'Average Reading Score': [average_reading_score_0, average_reading_score_1, average_reading_score_2, average_reading_score_3, average_reading_score_4, average_reading_score_5, average_reading_score_6, average_reading_score_7, average_reading_score_8, average_reading_score_9, average_reading_score_10, average_reading_score_11, average_reading_score_12, average_reading_score_13, average_reading_score_14],
    'Percent Passing Math': [percent_passing_math_0, percent_passing_math_1, percent_passing_math_2, percent_passing_math_3, percent_passing_math_4, percent_passing_math_5, percent_passing_math_6, percent_passing_math_7, percent_passing_math_8, percent_passing_math_9, percent_passing_math_10, percent_passing_math_11, percent_passing_math_12, percent_passing_math_13, percent_passing_math_14],
    'Percent Passing Reading': [percent_passing_reading_0, percent_passing_reading_1, percent_passing_reading_2, percent_passing_reading_3, percent_passing_reading_4, percent_passing_reading_5, percent_passing_reading_6, percent_passing_reading_7, percent_passing_reading_8, percent_passing_reading_9, percent_passing_reading_10, percent_passing_reading_11, percent_passing_reading_12, percent_passing_reading_13, percent_passing_reading_14],
    'Overall Pass Rate': [overall_passing_rate_0, overall_passing_rate_1, overall_passing_rate_2, overall_passing_rate_3, overall_passing_rate_4, overall_passing_rate_5, overall_passing_rate_6, overall_passing_rate_7, overall_passing_rate_8, overall_passing_rate_9, overall_passing_rate_10, overall_passing_rate_11, overall_passing_rate_12, overall_passing_rate_13, overall_passing_rate_14]
})

school_summary_df

,School Name,Type,Total Students,Total Budget,Budget Per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Pass Rate
0,[Huang High School],[District],2917,[1910635],[655.0],76.63,81.18,65.68,81.32,73.50
1,[Figueroa High School],[District],2949,[1884411],[639.0],76.71,81.16,65.99,80.74,73.36
2,[Shelton High School],[Charter],1761,[1056600],[600.0],83.36,83.73,93.87,95.85,94.86
3,[Hernandez High School],[District],4635,[3022020],[652.0],77.29,80.93,66.75,80.86,73.81
4,[Griffin High School],[Charter],1468,[917500],[625.0],83.35,83.82,93.39,97.14,95.26
5,[Wilson High School],[Charter],2283,[1319574],[578.0],83.27,83.99,93.87,96.54,95.21
6,[Cabrera High School],[Charter],1858,[1081356],[582.0],83.06,83.98,94.13,97.04,95.58
7,[Bailey High School],[District],4976,[3124928],[628.0],77.05,81.03,66.68,81.93,74.31
8,[Holden High School],[Charter],427,[248087],[581.0],83.80,83.81,92.51,96.25,94.38
9,[Pena High School],[Charter],962,[585858],[609.0],83.84,84.04,94.59,95.95,95.27
10,[Wright High School],[Charter],1800,[1049400],[583.0],83.68,83.96,93.33,96.61,94.97
11,[Rodriguez High School],[District],3999,[2547363],[637.0],76.84,80.74,66.37,80.22,73.30
12,[Johnson High School],[District],4761,[3094650],[650.0],77.07,80.97,66.06,81.22,73.64
13,[Ford High School],[District],2739,[1763916],[644.0],77.10,80.75,68.31,79.30,73.81
14,[Thomas High School],[Charter],1635,[1043130],[638.0],83.42,83.85,93.27,97.31,95.29

In [9]:
#

In [10]:
# Top Performing Schools (By Passing Rate)

top_five_schools = school_summary_df.sort_values('Overall Pass Rate', ascending=False)
top_five_schools.head()

,School Name,Type,Total Students,Total Budget,Budget Per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Pass Rate
6,[Cabrera High School],[Charter],1858,[1081356],[582.0],83.06,83.98,94.13,97.04,95.58
14,[Thomas High School],[Charter],1635,[1043130],[638.0],83.42,83.85,93.27,97.31,95.29
9,[Pena High School],[Charter],962,[585858],[609.0],83.84,84.04,94.59,95.95,95.27
4,[Griffin High School],[Charter],1468,[917500],[625.0],83.35,83.82,93.39,97.14,95.26
5,[Wilson High School],[Charter],2283,[1319574],[578.0],83.27,83.99,93.87,96.54,95.21

In [11]:
#

In [12]:
# Bottom Performing Schools (By Passing Rate)

bottom_five_schools = school_summary_df.sort_values('Overall Pass Rate')
bottom_five_schools.head()

,School Name,Type,Total Students,Total Budget,Budget Per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Pass Rate
11,[Rodriguez High School],[District],3999,[2547363],[637.0],76.84,80.74,66.37,80.22,73.30
1,[Figueroa High School],[District],2949,[1884411],[639.0],76.71,81.16,65.99,80.74,73.36
0,[Huang High School],[District],2917,[1910635],[655.0],76.63,81.18,65.68,81.32,73.50
12,[Johnson High School],[District],4761,[3094650],[650.0],77.07,80.97,66.06,81.22,73.64
3,[Hernandez High School],[District],4635,[3022020],[652.0],77.29,80.93,66.75,80.86,73.81

In [13]:
#

In [14]:
# Math Scores by Grade
by_school_0 = combined_data.loc[combined_data['school_name'] == schools_list[0], :]
school_name_0 = by_school_0['school_name'].unique()

by_grade_09 = by_school_0.loc[by_school_0['grade'] == '9th', :]
total_students_09 = by_grade_09['student_name'].count()

by_grade_010 = by_school_0.loc[by_school_0['grade'] == '10th', :]
total_students_010 = by_grade_010['student_name'].count()

by_grade_011 = by_school_0.loc[by_school_0['grade'] == '11th', :]
total_students_011 = by_grade_011['student_name'].count()

by_grade_012 = by_school_0.loc[by_school_0['grade'] == '12th', :]
total_students_012 = by_grade_012['student_name'].count()

average_math_score_09 = round(by_grade_09['math_score'].sum() / total_students_09, 2)
average_math_score_010 = round(by_grade_010['math_score'].sum() / total_students_010, 2)
average_math_score_011 = round(by_grade_011['math_score'].sum() / total_students_011, 2)
average_math_score_012 = round(by_grade_012['math_score'].sum() / total_students_012, 2)


by_school_1 = combined_data.loc[combined_data['school_name'] == schools_list[1], :]
school_name_1 = by_school_1['school_name'].unique()

by_grade_19 = by_school_1.loc[by_school_1['grade'] == '9th', :]
total_students_19 = by_grade_09['student_name'].count()

by_grade_110 = by_school_1.loc[by_school_1['grade'] == '10th', :]
total_students_110 = by_grade_110['student_name'].count()

by_grade_111 = by_school_1.loc[by_school_1['grade'] == '11th', :]
total_students_111 = by_grade_111['student_name'].count()

by_grade_112 = by_school_1.loc[by_school_1['grade'] == '12th', :]
total_students_112 = by_grade_112['student_name'].count()

average_math_score_19 = round(by_grade_19['math_score'].sum() / total_students_19, 2)
average_math_score_110 = round(by_grade_110['math_score'].sum() / total_students_110, 2)
average_math_score_111 = round(by_grade_111['math_score'].sum() / total_students_111, 2)
average_math_score_112 = round(by_grade_112['math_score'].sum() / total_students_112, 2)


by_school_2 = combined_data.loc[combined_data['school_name'] == schools_list[2], :]
school_name_2 = by_school_2['school_name'].unique()

by_grade_29 = by_school_2.loc[by_school_2['grade'] == '9th', :]
total_students_29 = by_grade_29['student_name'].count()

by_grade_210 = by_school_2.loc[by_school_2['grade'] == '10th', :]
total_students_210 = by_grade_210['student_name'].count()

by_grade_211 = by_school_2.loc[by_school_2['grade'] == '11th', :]
total_students_211 = by_grade_211['student_name'].count()

by_grade_212 = by_school_2.loc[by_school_2['grade'] == '12th', :]
total_students_212 = by_grade_212['student_name'].count()

average_math_score_29 = round(by_grade_29['math_score'].sum() / total_students_29, 2)
average_math_score_210 = round(by_grade_210['math_score'].sum() / total_students_210, 2)
average_math_score_211 = round(by_grade_211['math_score'].sum() / total_students_211, 2)
average_math_score_212 = round(by_grade_212['math_score'].sum() / total_students_212, 2)


by_school_3 = combined_data.loc[combined_data['school_name'] == schools_list[3], :]
school_name_3 = by_school_3['school_name'].unique()

by_grade_39 = by_school_3.loc[by_school_3['grade'] == '9th', :]
total_students_39 = by_grade_39['student_name'].count()

by_grade_310 = by_school_3.loc[by_school_3['grade'] == '10th', :]
total_students_310 = by_grade_310['student_name'].count()

by_grade_311 = by_school_3.loc[by_school_3['grade'] == '11th', :]
total_students_311 = by_grade_311['student_name'].count()

by_grade_312 = by_school_3.loc[by_school_3['grade'] == '12th', :]
total_students_312 = by_grade_312['student_name'].count()

average_math_score_39 = round(by_grade_39['math_score'].sum() / total_students_39, 2)
average_math_score_310 = round(by_grade_310['math_score'].sum() / total_students_310, 2)
average_math_score_311 = round(by_grade_311['math_score'].sum() / total_students_311, 2)
average_math_score_312 = round(by_grade_312['math_score'].sum() / total_students_312, 2)


by_school_4 = combined_data.loc[combined_data['school_name'] == schools_list[4], :]
school_name_4 = by_school_4['school_name'].unique()

by_grade_49 = by_school_4.loc[by_school_4['grade'] == '9th', :]
total_students_49 = by_grade_49['student_name'].count()

by_grade_410 = by_school_4.loc[by_school_4['grade'] == '10th', :]
total_students_410 = by_grade_410['student_name'].count()

by_grade_411 = by_school_4.loc[by_school_4['grade'] == '11th', :]
total_students_411 = by_grade_411['student_name'].count()

by_grade_412 = by_school_4.loc[by_school_4['grade'] == '12th', :]
total_students_412 = by_grade_412['student_name'].count()

average_math_score_49 = round(by_grade_49['math_score'].sum() / total_students_49, 2)
average_math_score_410 = round(by_grade_410['math_score'].sum() / total_students_410, 2)
average_math_score_411 = round(by_grade_411['math_score'].sum() / total_students_411, 2)
average_math_score_412 = round(by_grade_412['math_score'].sum() / total_students_412, 2)


by_school_5 = combined_data.loc[combined_data['school_name'] == schools_list[5], :]
school_name_5 = by_school_5['school_name'].unique()

by_grade_59 = by_school_5.loc[by_school_5['grade'] == '9th', :]
total_students_59 = by_grade_59['student_name'].count()

by_grade_510 = by_school_5.loc[by_school_5['grade'] == '10th', :]
total_students_510 = by_grade_510['student_name'].count()

by_grade_511 = by_school_5.loc[by_school_5['grade'] == '11th', :]
total_students_511 = by_grade_511['student_name'].count()

by_grade_512 = by_school_5.loc[by_school_5['grade'] == '12th', :]
total_students_512 = by_grade_512['student_name'].count()

average_math_score_59 = round(by_grade_59['math_score'].sum() / total_students_59, 2)
average_math_score_510 = round(by_grade_510['math_score'].sum() / total_students_510, 2)
average_math_score_511 = round(by_grade_511['math_score'].sum() / total_students_511, 2)
average_math_score_512 = round(by_grade_512['math_score'].sum() / total_students_512, 2)


by_school_6 = combined_data.loc[combined_data['school_name'] == schools_list[6], :]
school_name_6 = by_school_6['school_name'].unique()

by_grade_69 = by_school_6.loc[by_school_6['grade'] == '9th', :]
total_students_69 = by_grade_69['student_name'].count()

by_grade_610 = by_school_6.loc[by_school_6['grade'] == '10th', :]
total_students_610 = by_grade_610['student_name'].count()

by_grade_611 = by_school_6.loc[by_school_6['grade'] == '11th', :]
total_students_611 = by_grade_611['student_name'].count()

by_grade_612 = by_school_6.loc[by_school_6['grade'] == '12th', :]
total_students_612 = by_grade_612['student_name'].count()

average_math_score_69 = round(by_grade_69['math_score'].sum() / total_students_69, 2)
average_math_score_610 = round(by_grade_610['math_score'].sum() / total_students_610, 2)
average_math_score_611 = round(by_grade_611['math_score'].sum() / total_students_611, 2)
average_math_score_612 = round(by_grade_612['math_score'].sum() / total_students_612, 2)


by_school_7 = combined_data.loc[combined_data['school_name'] == schools_list[7], :]
school_name_7 = by_school_7['school_name'].unique()

by_grade_79 = by_school_7.loc[by_school_7['grade'] == '9th', :]
total_students_79 = by_grade_79['student_name'].count()

by_grade_710 = by_school_7.loc[by_school_7['grade'] == '10th', :]
total_students_710 = by_grade_710['student_name'].count()

by_grade_711 = by_school_7.loc[by_school_7['grade'] == '11th', :]
total_students_711 = by_grade_711['student_name'].count()

by_grade_712 = by_school_7.loc[by_school_7['grade'] == '12th', :]
total_students_712 = by_grade_712['student_name'].count()

average_math_score_79 = round(by_grade_79['math_score'].sum() / total_students_79, 2)
average_math_score_710 = round(by_grade_710['math_score'].sum() / total_students_710, 2)
average_math_score_711 = round(by_grade_711['math_score'].sum() / total_students_711, 2)
average_math_score_712 = round(by_grade_712['math_score'].sum() / total_students_712, 2)


by_school_8 = combined_data.loc[combined_data['school_name'] == schools_list[8], :]
school_name_8 = by_school_8['school_name'].unique()

by_grade_89 = by_school_8.loc[by_school_8['grade'] == '9th', :]
total_students_89 = by_grade_89['student_name'].count()

by_grade_810 = by_school_8.loc[by_school_8['grade'] == '10th', :]
total_students_810 = by_grade_810['student_name'].count()

by_grade_811 = by_school_8.loc[by_school_8['grade'] == '11th', :]
total_students_811 = by_grade_811['student_name'].count()

by_grade_812 = by_school_8.loc[by_school_8['grade'] == '12th', :]
total_students_812 = by_grade_812['student_name'].count()

average_math_score_89 = round(by_grade_89['math_score'].sum() / total_students_89, 2)
average_math_score_810 = round(by_grade_810['math_score'].sum() / total_students_810, 2)
average_math_score_811 = round(by_grade_811['math_score'].sum() / total_students_811, 2)
average_math_score_812 = round(by_grade_812['math_score'].sum() / total_students_812, 2)


by_school_9 = combined_data.loc[combined_data['school_name'] == schools_list[9], :]
school_name_9 = by_school_9['school_name'].unique()

by_grade_99 = by_school_9.loc[by_school_9['grade'] == '9th', :]
total_students_99 = by_grade_99['student_name'].count()

by_grade_910 = by_school_9.loc[by_school_9['grade'] == '10th', :]
total_students_910 = by_grade_910['student_name'].count()

by_grade_911 = by_school_9.loc[by_school_9['grade'] == '11th', :]
total_students_911 = by_grade_911['student_name'].count()

by_grade_912 = by_school_9.loc[by_school_9['grade'] == '12th', :]
total_students_912 = by_grade_912['student_name'].count()

average_math_score_99 = round(by_grade_99['math_score'].sum() / total_students_99, 2)
average_math_score_910 = round(by_grade_910['math_score'].sum() / total_students_910, 2)
average_math_score_911 = round(by_grade_911['math_score'].sum() / total_students_911, 2)
average_math_score_912 = round(by_grade_912['math_score'].sum() / total_students_912, 2)


by_school_10 = combined_data.loc[combined_data['school_name'] == schools_list[10], :]
school_name_10 = by_school_10['school_name'].unique()

by_grade_109 = by_school_10.loc[by_school_10['grade'] == '9th', :]
total_students_109 = by_grade_109['student_name'].count()

by_grade_1010 = by_school_10.loc[by_school_10['grade'] == '10th', :]
total_students_1010 = by_grade_1010['student_name'].count()

by_grade_1011 = by_school_10.loc[by_school_10['grade'] == '11th', :]
total_students_1011 = by_grade_1011['student_name'].count()

by_grade_1012 = by_school_10.loc[by_school_10['grade'] == '12th', :]
total_students_1012 = by_grade_1012['student_name'].count()

average_math_score_109 = round(by_grade_109['math_score'].sum() / total_students_109, 2)
average_math_score_1010 = round(by_grade_1010['math_score'].sum() / total_students_1010, 2)
average_math_score_1011 = round(by_grade_1011['math_score'].sum() / total_students_1011, 2)
average_math_score_1012 = round(by_grade_1012['math_score'].sum() / total_students_1012, 2)


by_school_11 = combined_data.loc[combined_data['school_name'] == schools_list[11], :]
school_name_11 = by_school_11['school_name'].unique()

by_grade_119 = by_school_11.loc[by_school_11['grade'] == '9th', :]
total_students_119 = by_grade_119['student_name'].count()

by_grade_1110 = by_school_11.loc[by_school_11['grade'] == '10th', :]
total_students_1110 = by_grade_1110['student_name'].count()

by_grade_1111 = by_school_11.loc[by_school_11['grade'] == '11th', :]
total_students_1111 = by_grade_1111['student_name'].count()

by_grade_1112 = by_school_11.loc[by_school_11['grade'] == '12th', :]
total_students_1112 = by_grade_1112['student_name'].count()

average_math_score_119 = round(by_grade_119['math_score'].sum() / total_students_119, 2)
average_math_score_1110 = round(by_grade_1110['math_score'].sum() / total_students_1110, 2)
average_math_score_1111 = round(by_grade_1111['math_score'].sum() / total_students_1111, 2)
average_math_score_1112 = round(by_grade_1112['math_score'].sum() / total_students_1112, 2)


by_school_12 = combined_data.loc[combined_data['school_name'] == schools_list[12], :]
school_name_12 = by_school_12['school_name'].unique()

by_grade_129 = by_school_12.loc[by_school_12['grade'] == '9th', :]
total_students_129 = by_grade_129['student_name'].count()

by_grade_1210 = by_school_12.loc[by_school_12['grade'] == '10th', :]
total_students_1210 = by_grade_1210['student_name'].count()

by_grade_1211 = by_school_12.loc[by_school_12['grade'] == '11th', :]
total_students_1211 = by_grade_1211['student_name'].count()

by_grade_1212 = by_school_12.loc[by_school_12['grade'] == '12th', :]
total_students_1212 = by_grade_1212['student_name'].count()

average_math_score_129 = round(by_grade_129['math_score'].sum() / total_students_129, 2)
average_math_score_1210 = round(by_grade_1210['math_score'].sum() / total_students_1210, 2)
average_math_score_1211 = round(by_grade_1211['math_score'].sum() / total_students_1211, 2)
average_math_score_1212 = round(by_grade_1212['math_score'].sum() / total_students_1212, 2)


by_school_13 = combined_data.loc[combined_data['school_name'] == schools_list[13], :]
school_name_13 = by_school_13['school_name'].unique()

by_grade_139 = by_school_13.loc[by_school_13['grade'] == '9th', :]
total_students_139 = by_grade_139['student_name'].count()

by_grade_1310 = by_school_13.loc[by_school_13['grade'] == '10th', :]
total_students_1310 = by_grade_1310['student_name'].count()

by_grade_1311 = by_school_13.loc[by_school_13['grade'] == '11th', :]
total_students_1311 = by_grade_1311['student_name'].count()

by_grade_1312 = by_school_13.loc[by_school_13['grade'] == '12th', :]
total_students_1312 = by_grade_1312['student_name'].count()

average_math_score_139 = round(by_grade_139['math_score'].sum() / total_students_139, 2)
average_math_score_1310 = round(by_grade_1310['math_score'].sum() / total_students_1310, 2)
average_math_score_1311 = round(by_grade_1311['math_score'].sum() / total_students_1311, 2)
average_math_score_1312 = round(by_grade_1312['math_score'].sum() / total_students_1312, 2)


by_school_14 = combined_data.loc[combined_data['school_name'] == schools_list[14], :]
school_name_14 = by_school_14['school_name'].unique()

by_grade_149 = by_school_14.loc[by_school_14['grade'] == '9th', :]
total_students_149 = by_grade_149['student_name'].count()

by_grade_1410 = by_school_14.loc[by_school_14['grade'] == '10th', :]
total_students_1410 = by_grade_1410['student_name'].count()

by_grade_1411 = by_school_14.loc[by_school_14['grade'] == '11th', :]
total_students_1411 = by_grade_1411['student_name'].count()

by_grade_1412 = by_school_14.loc[by_school_14['grade'] == '12th', :]
total_students_1412 = by_grade_1412['student_name'].count()

average_math_score_149 = round(by_grade_149['math_score'].sum() / total_students_149, 2)
average_math_score_1410 = round(by_grade_1410['math_score'].sum() / total_students_1410, 2)
average_math_score_1411 = round(by_grade_1411['math_score'].sum() / total_students_1411, 2)
average_math_score_1412 = round(by_grade_1412['math_score'].sum() / total_students_1412, 2)


# combine math scores per grade by school
average_math_score_per_grade_by_school = pd.DataFrame({
    'School Name': [school_name_0, school_name_1, school_name_2, school_name_3, school_name_4, school_name_5, school_name_6, school_name_7, school_name_8, school_name_9, school_name_10, school_name_11, school_name_12, school_name_13, school_name_14],
    '9th Grade Average Math Score': [average_math_score_09, average_math_score_19, average_math_score_29, average_math_score_39, average_math_score_49, average_math_score_59, average_math_score_69, average_math_score_79, average_math_score_89, average_math_score_99, average_math_score_109, average_math_score_119, average_math_score_129, average_math_score_139, average_math_score_149],
    '10th Grade Average Math Score': [average_math_score_010, average_math_score_110, average_math_score_210, average_math_score_310, average_math_score_410, average_math_score_510, average_math_score_610, average_math_score_710, average_math_score_810, average_math_score_910, average_math_score_1010, average_math_score_1110, average_math_score_1210, average_math_score_1310, average_math_score_1410],
    '11th Grade Average Math Score': [average_math_score_011, average_math_score_111, average_math_score_211, average_math_score_311, average_math_score_411, average_math_score_511, average_math_score_611, average_math_score_711, average_math_score_811, average_math_score_911, average_math_score_1011, average_math_score_1111, average_math_score_1211, average_math_score_1311, average_math_score_1411],
    '12th Grade Average Math Score': [average_math_score_012, average_math_score_112, average_math_score_212, average_math_score_312, average_math_score_412, average_math_score_512, average_math_score_612, average_math_score_712, average_math_score_812, average_math_score_912, average_math_score_1012, average_math_score_1112, average_math_score_1212, average_math_score_1312, average_math_score_1412]
})

average_math_score_per_grade_by_school

,School Name,9th Grade Average Math Score,10th Grade Average Math Score,11th Grade Average Math Score,12th Grade Average Math Score
0,[Huang High School],77.03,75.91,76.45,77.23
1,[Figueroa High School],77.49,76.54,76.88,77.15
2,[Shelton High School],83.42,82.92,83.38,83.78
3,[Hernandez High School],77.44,77.34,77.14,77.19
4,[Griffin High School],82.04,84.23,83.84,83.36
5,[Wilson High School],83.09,83.72,83.20,83.04
6,[Cabrera High School],83.09,83.15,82.77,83.28
7,[Bailey High School],77.08,77.00,77.52,76.49
8,[Holden High School],83.79,83.43,85.00,82.86
9,[Pena High School],83.63,83.37,84.33,84.12
10,[Wright High School],83.26,84.01,83.84,83.64
11,[Rodriguez High School],76.86,76.61,76.40,77.69
12,[Johnson High School],77.19,76.69,77.49,76.86
13,[Ford High School],77.36,77.67,76.92,76.18
14,[Thomas High School],83.59,83.09,83.50,83.50

In [15]:
#

In [16]:
# Reading Scores by Grade

by_school_0 = combined_data.loc[combined_data['school_name'] == schools_list[0], :]
school_name_0 = by_school_0['school_name'].unique()

by_grade_09 = by_school_0.loc[by_school_0['grade'] == '9th', :]
total_students_09 = by_grade_09['student_name'].count()

by_grade_010 = by_school_0.loc[by_school_0['grade'] == '10th', :]
total_students_010 = by_grade_010['student_name'].count()

by_grade_011 = by_school_0.loc[by_school_0['grade'] == '11th', :]
total_students_011 = by_grade_011['student_name'].count()

by_grade_012 = by_school_0.loc[by_school_0['grade'] == '12th', :]
total_students_012 = by_grade_012['student_name'].count()

average_reading_score_09 = round(by_grade_09['reading_score'].sum() / total_students_09, 2)
average_reading_score_010 = round(by_grade_010['reading_score'].sum() / total_students_010, 2)
average_reading_score_011 = round(by_grade_011['reading_score'].sum() / total_students_011, 2)
average_reading_score_012 = round(by_grade_012['reading_score'].sum() / total_students_012, 2)


by_school_1 = combined_data.loc[combined_data['school_name'] == schools_list[1], :]
school_name_1 = by_school_1['school_name'].unique()

by_grade_19 = by_school_1.loc[by_school_1['grade'] == '9th', :]
total_students_19 = by_grade_09['student_name'].count()

by_grade_110 = by_school_1.loc[by_school_1['grade'] == '10th', :]
total_students_110 = by_grade_110['student_name'].count()

by_grade_111 = by_school_1.loc[by_school_1['grade'] == '11th', :]
total_students_111 = by_grade_111['student_name'].count()

by_grade_112 = by_school_1.loc[by_school_1['grade'] == '12th', :]
total_students_112 = by_grade_112['student_name'].count()

average_reading_score_19 = round(by_grade_19['reading_score'].sum() / total_students_19, 2)
average_reading_score_110 = round(by_grade_110['reading_score'].sum() / total_students_110, 2)
average_reading_score_111 = round(by_grade_111['reading_score'].sum() / total_students_111, 2)
average_reading_score_112 = round(by_grade_112['reading_score'].sum() / total_students_112, 2)


by_school_2 = combined_data.loc[combined_data['school_name'] == schools_list[2], :]
school_name_2 = by_school_2['school_name'].unique()

by_grade_29 = by_school_2.loc[by_school_2['grade'] == '9th', :]
total_students_29 = by_grade_29['student_name'].count()

by_grade_210 = by_school_2.loc[by_school_2['grade'] == '10th', :]
total_students_210 = by_grade_210['student_name'].count()

by_grade_211 = by_school_2.loc[by_school_2['grade'] == '11th', :]
total_students_211 = by_grade_211['student_name'].count()

by_grade_212 = by_school_2.loc[by_school_2['grade'] == '12th', :]
total_students_212 = by_grade_212['student_name'].count()

average_reading_score_29 = round(by_grade_29['reading_score'].sum() / total_students_29, 2)
average_reading_score_210 = round(by_grade_210['reading_score'].sum() / total_students_210, 2)
average_reading_score_211 = round(by_grade_211['reading_score'].sum() / total_students_211, 2)
average_reading_score_212 = round(by_grade_212['reading_score'].sum() / total_students_212, 2)


by_school_3 = combined_data.loc[combined_data['school_name'] == schools_list[3], :]
school_name_3 = by_school_3['school_name'].unique()

by_grade_39 = by_school_3.loc[by_school_3['grade'] == '9th', :]
total_students_39 = by_grade_39['student_name'].count()

by_grade_310 = by_school_3.loc[by_school_3['grade'] == '10th', :]
total_students_310 = by_grade_310['student_name'].count()

by_grade_311 = by_school_3.loc[by_school_3['grade'] == '11th', :]
total_students_311 = by_grade_311['student_name'].count()

by_grade_312 = by_school_3.loc[by_school_3['grade'] == '12th', :]
total_students_312 = by_grade_312['student_name'].count()

average_reading_score_39 = round(by_grade_39['reading_score'].sum() / total_students_39, 2)
average_reading_score_310 = round(by_grade_310['reading_score'].sum() / total_students_310, 2)
average_reading_score_311 = round(by_grade_311['reading_score'].sum() / total_students_311, 2)
average_reading_score_312 = round(by_grade_312['reading_score'].sum() / total_students_312, 2)


by_school_4 = combined_data.loc[combined_data['school_name'] == schools_list[4], :]
school_name_4 = by_school_4['school_name'].unique()

by_grade_49 = by_school_4.loc[by_school_4['grade'] == '9th', :]
total_students_49 = by_grade_49['student_name'].count()

by_grade_410 = by_school_4.loc[by_school_4['grade'] == '10th', :]
total_students_410 = by_grade_410['student_name'].count()

by_grade_411 = by_school_4.loc[by_school_4['grade'] == '11th', :]
total_students_411 = by_grade_411['student_name'].count()

by_grade_412 = by_school_4.loc[by_school_4['grade'] == '12th', :]
total_students_412 = by_grade_412['student_name'].count()

average_reading_score_49 = round(by_grade_49['reading_score'].sum() / total_students_49, 2)
average_reading_score_410 = round(by_grade_410['reading_score'].sum() / total_students_410, 2)
average_reading_score_411 = round(by_grade_411['reading_score'].sum() / total_students_411, 2)
average_reading_score_412 = round(by_grade_412['reading_score'].sum() / total_students_412, 2)


by_school_5 = combined_data.loc[combined_data['school_name'] == schools_list[5], :]
school_name_5 = by_school_5['school_name'].unique()

by_grade_59 = by_school_5.loc[by_school_5['grade'] == '9th', :]
total_students_59 = by_grade_59['student_name'].count()

by_grade_510 = by_school_5.loc[by_school_5['grade'] == '10th', :]
total_students_510 = by_grade_510['student_name'].count()

by_grade_511 = by_school_5.loc[by_school_5['grade'] == '11th', :]
total_students_511 = by_grade_511['student_name'].count()

by_grade_512 = by_school_5.loc[by_school_5['grade'] == '12th', :]
total_students_512 = by_grade_512['student_name'].count()

average_reading_score_59 = round(by_grade_59['reading_score'].sum() / total_students_59, 2)
average_reading_score_510 = round(by_grade_510['reading_score'].sum() / total_students_510, 2)
average_reading_score_511 = round(by_grade_511['reading_score'].sum() / total_students_511, 2)
average_reading_score_512 = round(by_grade_512['reading_score'].sum() / total_students_512, 2)


by_school_6 = combined_data.loc[combined_data['school_name'] == schools_list[6], :]
school_name_6 = by_school_6['school_name'].unique()

by_grade_69 = by_school_6.loc[by_school_6['grade'] == '9th', :]
total_students_69 = by_grade_69['student_name'].count()

by_grade_610 = by_school_6.loc[by_school_6['grade'] == '10th', :]
total_students_610 = by_grade_610['student_name'].count()

by_grade_611 = by_school_6.loc[by_school_6['grade'] == '11th', :]
total_students_611 = by_grade_611['student_name'].count()

by_grade_612 = by_school_6.loc[by_school_6['grade'] == '12th', :]
total_students_612 = by_grade_612['student_name'].count()

average_reading_score_69 = round(by_grade_69['reading_score'].sum() / total_students_69, 2)
average_reading_score_610 = round(by_grade_610['reading_score'].sum() / total_students_610, 2)
average_reading_score_611 = round(by_grade_611['reading_score'].sum() / total_students_611, 2)
average_reading_score_612 = round(by_grade_612['reading_score'].sum() / total_students_612, 2)


by_school_7 = combined_data.loc[combined_data['school_name'] == schools_list[7], :]
school_name_7 = by_school_7['school_name'].unique()

by_grade_79 = by_school_7.loc[by_school_7['grade'] == '9th', :]
total_students_79 = by_grade_79['student_name'].count()

by_grade_710 = by_school_7.loc[by_school_7['grade'] == '10th', :]
total_students_710 = by_grade_710['student_name'].count()

by_grade_711 = by_school_7.loc[by_school_7['grade'] == '11th', :]
total_students_711 = by_grade_711['student_name'].count()

by_grade_712 = by_school_7.loc[by_school_7['grade'] == '12th', :]
total_students_712 = by_grade_712['student_name'].count()

average_reading_score_79 = round(by_grade_79['reading_score'].sum() / total_students_79, 2)
average_reading_score_710 = round(by_grade_710['reading_score'].sum() / total_students_710, 2)
average_reading_score_711 = round(by_grade_711['reading_score'].sum() / total_students_711, 2)
average_reading_score_712 = round(by_grade_712['reading_score'].sum() / total_students_712, 2)


by_school_8 = combined_data.loc[combined_data['school_name'] == schools_list[8], :]
school_name_8 = by_school_8['school_name'].unique()

by_grade_89 = by_school_8.loc[by_school_8['grade'] == '9th', :]
total_students_89 = by_grade_89['student_name'].count()

by_grade_810 = by_school_8.loc[by_school_8['grade'] == '10th', :]
total_students_810 = by_grade_810['student_name'].count()

by_grade_811 = by_school_8.loc[by_school_8['grade'] == '11th', :]
total_students_811 = by_grade_811['student_name'].count()

by_grade_812 = by_school_8.loc[by_school_8['grade'] == '12th', :]
total_students_812 = by_grade_812['student_name'].count()

average_reading_score_89 = round(by_grade_89['reading_score'].sum() / total_students_89, 2)
average_reading_score_810 = round(by_grade_810['reading_score'].sum() / total_students_810, 2)
average_reading_score_811 = round(by_grade_811['reading_score'].sum() / total_students_811, 2)
average_reading_score_812 = round(by_grade_812['reading_score'].sum() / total_students_812, 2)


by_school_9 = combined_data.loc[combined_data['school_name'] == schools_list[9], :]
school_name_9 = by_school_9['school_name'].unique()

by_grade_99 = by_school_9.loc[by_school_9['grade'] == '9th', :]
total_students_99 = by_grade_99['student_name'].count()

by_grade_910 = by_school_9.loc[by_school_9['grade'] == '10th', :]
total_students_910 = by_grade_910['student_name'].count()

by_grade_911 = by_school_9.loc[by_school_9['grade'] == '11th', :]
total_students_911 = by_grade_911['student_name'].count()

by_grade_912 = by_school_9.loc[by_school_9['grade'] == '12th', :]
total_students_912 = by_grade_912['student_name'].count()

average_reading_score_99 = round(by_grade_99['reading_score'].sum() / total_students_99, 2)
average_reading_score_910 = round(by_grade_910['reading_score'].sum() / total_students_910, 2)
average_reading_score_911 = round(by_grade_911['reading_score'].sum() / total_students_911, 2)
average_reading_score_912 = round(by_grade_912['reading_score'].sum() / total_students_912, 2)


by_school_10 = combined_data.loc[combined_data['school_name'] == schools_list[10], :]
school_name_10 = by_school_10['school_name'].unique()

by_grade_109 = by_school_10.loc[by_school_10['grade'] == '9th', :]
total_students_109 = by_grade_109['student_name'].count()

by_grade_1010 = by_school_10.loc[by_school_10['grade'] == '10th', :]
total_students_1010 = by_grade_1010['student_name'].count()

by_grade_1011 = by_school_10.loc[by_school_10['grade'] == '11th', :]
total_students_1011 = by_grade_1011['student_name'].count()

by_grade_1012 = by_school_10.loc[by_school_10['grade'] == '12th', :]
total_students_1012 = by_grade_1012['student_name'].count()

average_reading_score_109 = round(by_grade_109['reading_score'].sum() / total_students_109, 2)
average_reading_score_1010 = round(by_grade_1010['reading_score'].sum() / total_students_1010, 2)
average_reading_score_1011 = round(by_grade_1011['reading_score'].sum() / total_students_1011, 2)
average_reading_score_1012 = round(by_grade_1012['reading_score'].sum() / total_students_1012, 2)


by_school_11 = combined_data.loc[combined_data['school_name'] == schools_list[11], :]
school_name_11 = by_school_11['school_name'].unique()

by_grade_119 = by_school_11.loc[by_school_11['grade'] == '9th', :]
total_students_119 = by_grade_119['student_name'].count()

by_grade_1110 = by_school_11.loc[by_school_11['grade'] == '10th', :]
total_students_1110 = by_grade_1110['student_name'].count()

by_grade_1111 = by_school_11.loc[by_school_11['grade'] == '11th', :]
total_students_1111 = by_grade_1111['student_name'].count()

by_grade_1112 = by_school_11.loc[by_school_11['grade'] == '12th', :]
total_students_1112 = by_grade_1112['student_name'].count()

average_reading_score_119 = round(by_grade_119['reading_score'].sum() / total_students_119, 2)
average_reading_score_1110 = round(by_grade_1110['reading_score'].sum() / total_students_1110, 2)
average_reading_score_1111 = round(by_grade_1111['reading_score'].sum() / total_students_1111, 2)
average_reading_score_1112 = round(by_grade_1112['reading_score'].sum() / total_students_1112, 2)


by_school_12 = combined_data.loc[combined_data['school_name'] == schools_list[12], :]
school_name_12 = by_school_12['school_name'].unique()

by_grade_129 = by_school_12.loc[by_school_12['grade'] == '9th', :]
total_students_129 = by_grade_129['student_name'].count()

by_grade_1210 = by_school_12.loc[by_school_12['grade'] == '10th', :]
total_students_1210 = by_grade_1210['student_name'].count()

by_grade_1211 = by_school_12.loc[by_school_12['grade'] == '11th', :]
total_students_1211 = by_grade_1211['student_name'].count()

by_grade_1212 = by_school_12.loc[by_school_12['grade'] == '12th', :]
total_students_1212 = by_grade_1212['student_name'].count()

average_reading_score_129 = round(by_grade_129['reading_score'].sum() / total_students_129, 2)
average_reading_score_1210 = round(by_grade_1210['reading_score'].sum() / total_students_1210, 2)
average_reading_score_1211 = round(by_grade_1211['reading_score'].sum() / total_students_1211, 2)
average_reading_score_1212 = round(by_grade_1212['reading_score'].sum() / total_students_1212, 2)


by_school_13 = combined_data.loc[combined_data['school_name'] == schools_list[13], :]
school_name_13 = by_school_13['school_name'].unique()

by_grade_139 = by_school_13.loc[by_school_13['grade'] == '9th', :]
total_students_139 = by_grade_139['student_name'].count()

by_grade_1310 = by_school_13.loc[by_school_13['grade'] == '10th', :]
total_students_1310 = by_grade_1310['student_name'].count()

by_grade_1311 = by_school_13.loc[by_school_13['grade'] == '11th', :]
total_students_1311 = by_grade_1311['student_name'].count()

by_grade_1312 = by_school_13.loc[by_school_13['grade'] == '12th', :]
total_students_1312 = by_grade_1312['student_name'].count()

average_reading_score_139 = round(by_grade_139['reading_score'].sum() / total_students_139, 2)
average_reading_score_1310 = round(by_grade_1310['reading_score'].sum() / total_students_1310, 2)
average_reading_score_1311 = round(by_grade_1311['reading_score'].sum() / total_students_1311, 2)
average_reading_score_1312 = round(by_grade_1312['reading_score'].sum() / total_students_1312, 2)


by_school_14 = combined_data.loc[combined_data['school_name'] == schools_list[14], :]
school_name_14 = by_school_14['school_name'].unique()

by_grade_149 = by_school_14.loc[by_school_14['grade'] == '9th', :]
total_students_149 = by_grade_149['student_name'].count()

by_grade_1410 = by_school_14.loc[by_school_14['grade'] == '10th', :]
total_students_1410 = by_grade_1410['student_name'].count()

by_grade_1411 = by_school_14.loc[by_school_14['grade'] == '11th', :]
total_students_1411 = by_grade_1411['student_name'].count()

by_grade_1412 = by_school_14.loc[by_school_14['grade'] == '12th', :]
total_students_1412 = by_grade_1412['student_name'].count()

average_reading_score_149 = round(by_grade_149['reading_score'].sum() / total_students_149, 2)
average_reading_score_1410 = round(by_grade_1410['reading_score'].sum() / total_students_1410, 2)
average_reading_score_1411 = round(by_grade_1411['reading_score'].sum() / total_students_1411, 2)
average_reading_score_1412 = round(by_grade_1412['reading_score'].sum() / total_students_1412, 2)


# combine reading scores per grade by school
average_reading_score_per_grade_by_school = pd.DataFrame({
    'School Name': [school_name_0, school_name_1, school_name_2, school_name_3, school_name_4, school_name_5, school_name_6, school_name_7, school_name_8, school_name_9, school_name_10, school_name_11, school_name_12, school_name_13, school_name_14],
    '9th Grade Average Reading Score': [average_reading_score_09, average_reading_score_19, average_reading_score_29, average_reading_score_39, average_reading_score_49, average_reading_score_59, average_reading_score_69, average_reading_score_79, average_reading_score_89, average_reading_score_99, average_reading_score_109, average_reading_score_119, average_reading_score_129, average_reading_score_139, average_reading_score_149],
    '10th Grade Average Reading Score': [average_reading_score_010, average_reading_score_110, average_reading_score_210, average_reading_score_310, average_reading_score_410, average_reading_score_510, average_reading_score_610, average_reading_score_710, average_reading_score_810, average_reading_score_910, average_reading_score_1010, average_reading_score_1110, average_reading_score_1210, average_reading_score_1310, average_reading_score_1410],
    '11th Grade Average Reading Score': [average_reading_score_011, average_reading_score_111, average_reading_score_211, average_reading_score_311, average_reading_score_411, average_reading_score_511, average_reading_score_611, average_reading_score_711, average_reading_score_811, average_reading_score_911, average_reading_score_1011, average_reading_score_1111, average_reading_score_1211, average_reading_score_1311, average_reading_score_1411],
    '12th Grade Average Reading Score': [average_reading_score_012, average_reading_score_112, average_reading_score_212, average_reading_score_312, average_reading_score_412, average_reading_score_512, average_reading_score_612, average_reading_score_712, average_reading_score_812, average_reading_score_912, average_reading_score_1012, average_math_score_1112, average_reading_score_1212, average_reading_score_1312, average_reading_score_1412]
})

average_reading_score_per_grade_by_school

,School Name,9th Grade Average Reading Score,10th Grade Average Reading Score,11th Grade Average Reading Score,12th Grade Average Reading Score
0,[Huang High School],81.29,81.51,81.42,80.31
1,[Figueroa High School],82.35,81.41,80.64,81.38
2,[Shelton High School],84.12,83.44,84.37,82.78
3,[Hernandez High School],80.87,80.66,81.40,80.86
4,[Griffin High School],83.37,83.71,84.29,84.01
5,[Wilson High School],83.94,84.02,83.76,84.32
6,[Cabrera High School],83.68,84.25,83.79,84.29
7,[Bailey High School],81.30,80.91,80.95,80.91
8,[Holden High School],83.68,83.32,83.82,84.70
9,[Pena High School],83.81,83.61,84.34,84.59
10,[Wright High School],83.83,83.81,84.16,84.07
11,[Rodriguez High School],80.99,80.63,80.86,77.69
12,[Johnson High School],81.26,80.77,80.62,81.23
13,[Ford High School],80.63,81.26,80.40,80.66
14,[Thomas High School],83.73,84.25,83.59,83.83

In [17]:
#

In [18]:
# Scores by School Spending

school_summary_df.head()

budget_bins = [0, 585, 615, 645, 675]
spending_ranges = ['Less than 585', '585 - 615', '615 - 645', '645 - 675']

school_summary_df['Spending Ranges'] = pd.cut(school_summary_df['Budget Per Student'], budget_bins, labels = spending_ranges)

spending_ranges_list = list(spending_ranges)



spending_ranges_0 = school_summary_df.loc[school_summary_df['Spending Ranges'] == spending_ranges_list[0], :]

range_count_0 = spending_ranges_0['School Name'].count()

sr0_range = spending_ranges_list[0]
sr0_average_math = round(spending_ranges_0['Average Math Score'].sum() / range_count_0, 2)
sr0_average_reading = round(spending_ranges_0['Average Reading Score'].sum() / range_count_0, 2)
sr0_percent_passing_math = round(spending_ranges_0['Percent Passing Math'].sum() / range_count_0, 2)
sr0_percent_passing_reading = round(spending_ranges_0['Percent Passing Reading'].sum() / range_count_0, 2)
sr0_overall_passing_rate = round(spending_ranges_0['Overall Pass Rate'].sum() / range_count_0, 2)


spending_ranges_1 = school_summary_df.loc[school_summary_df['Spending Ranges'] == spending_ranges_list[1], :]

range_count_1 = spending_ranges_1['School Name'].count()

sr1_range = spending_ranges_list[1]
sr1_average_math = round(spending_ranges_1['Average Math Score'].sum() / range_count_1, 2)
sr1_average_reading = round(spending_ranges_1['Average Reading Score'].sum() / range_count_1, 2)
sr1_percent_passing_math = round(spending_ranges_1['Percent Passing Math'].sum() / range_count_1, 2)
sr1_percent_passing_reading = round(spending_ranges_1['Percent Passing Reading'].sum() / range_count_1, 2)
sr1_overall_passing_rate = round(spending_ranges_1['Overall Pass Rate'].sum() / range_count_1, 2)


spending_ranges_2 = school_summary_df.loc[school_summary_df['Spending Ranges'] == spending_ranges_list[2], :]

range_count_2 = spending_ranges_2['School Name'].count()

sr2_range = spending_ranges_list[2]
sr2_average_math = round(spending_ranges_2['Average Math Score'].sum() / range_count_2, 2)
sr2_average_reading = round(spending_ranges_2['Average Reading Score'].sum() / range_count_2, 2)
sr2_percent_passing_math = round(spending_ranges_2['Percent Passing Math'].sum() / range_count_2, 2)
sr2_percent_passing_reading = round(spending_ranges_2['Percent Passing Reading'].sum() / range_count_2, 2)
sr2_overall_passing_rate = round(spending_ranges_2['Overall Pass Rate'].sum() / range_count_2, 2)


spending_ranges_3 = school_summary_df.loc[school_summary_df['Spending Ranges'] == spending_ranges_list[3], :]

range_count_3 = spending_ranges_3['School Name'].count()

sr3_range = spending_ranges_list[3]
sr3_average_math = round(spending_ranges_3['Average Math Score'].sum() / range_count_3, 2)
sr3_average_reading = round(spending_ranges_3['Average Reading Score'].sum() / range_count_3, 2)
sr3_percent_passing_math = round(spending_ranges_3['Percent Passing Math'].sum() / range_count_3, 2)
sr3_percent_passing_reading = round(spending_ranges_3['Percent Passing Reading'].sum() / range_count_3, 2)
sr3_overall_passing_rate = round(spending_ranges_3['Overall Pass Rate'].sum() / range_count_3, 2)


spending_ranges_df = pd.DataFrame({
    'Budget Ranges': [sr0_range, sr1_range, sr2_range, sr3_range],
    'Average Math Score':[sr0_average_math, sr1_average_math, sr2_average_math, sr3_average_math],
    'Average Reading Score':[sr0_average_reading, sr1_average_reading, sr2_average_reading, sr3_average_reading],
    'Percent Passing Math':[sr0_percent_passing_math, sr1_percent_passing_math, sr2_percent_passing_math, sr3_percent_passing_math],
    'Percent Passing Reading':[sr0_percent_passing_reading, sr1_percent_passing_reading, sr2_percent_passing_reading, sr3_percent_passing_reading],
    'Overall Passing Rate':[sr0_overall_passing_rate, sr1_overall_passing_rate, sr2_overall_passing_rate, sr3_overall_passing_rate]
})


spending_ranges_df

,Budget Ranges,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
0,Less than 585,83.45,83.94,93.46,96.61,95.04
1,585 - 615,83.60,83.88,94.23,95.90,95.06
2,615 - 645,79.08,81.89,75.67,86.11,80.89
3,645 - 675,77.00,81.03,66.16,81.13,73.65

In [19]:
#

In [20]:
# Scores by School Size

school_summary_df

size_bins = [0, 2000, 3500, 5000]
size_ranges = ['Small', 'Medium', 'Large']

school_summary_df['School Size'] = pd.cut(school_summary_df['Total Students'], size_bins, labels = size_ranges)

school_size_list = list(size_ranges)


school_size_0 = school_summary_df.loc[school_summary_df['School Size'] == school_size_list[0], :]

school_range_count_0 = school_size_0['School Name'].count()

ss0_range = school_size_list[0]
ss0_average_math = round(school_size_0['Average Math Score'].sum() / school_range_count_0, 2)
ss0_average_reading = round(school_size_0['Average Reading Score'].sum() / school_range_count_0, 2)
ss0_percent_passing_math = round(school_size_0['Percent Passing Math'].sum() / school_range_count_0, 2)
ss0_percent_passing_reading = round(school_size_0['Percent Passing Reading'].sum() / school_range_count_0, 2)
ss0_overall_passing_rate = round(school_size_0['Overall Pass Rate'].sum() / school_range_count_0, 2)


school_size_1 = school_summary_df.loc[school_summary_df['School Size'] == school_size_list[1], :]

school_range_count_1 = school_size_1['School Name'].count()

ss1_range = school_size_list[1]
ss1_average_math = round(school_size_1['Average Math Score'].sum() / school_range_count_1, 2)
ss1_average_reading = round(school_size_1['Average Reading Score'].sum() / school_range_count_1, 2)
ss1_percent_passing_math = round(school_size_1['Percent Passing Math'].sum() / school_range_count_1, 2)
ss1_percent_passing_reading = round(school_size_1['Percent Passing Reading'].sum() / school_range_count_1, 2)
ss1_overall_passing_rate = round(school_size_1['Overall Pass Rate'].sum() / school_range_count_1, 2)


school_size_2 = school_summary_df.loc[school_summary_df['School Size'] == school_size_list[2], :]

school_range_count_2 = school_size_2['School Name'].count()

ss2_range = school_size_list[2]
ss2_average_math = round(school_size_2['Average Math Score'].sum() / school_range_count_2, 2)
ss2_average_reading = round(school_size_2['Average Reading Score'].sum() / school_range_count_2, 2)
ss2_percent_passing_math = round(school_size_2['Percent Passing Math'].sum() / school_range_count_2, 2)
ss2_percent_passing_reading = round(school_size_2['Percent Passing Reading'].sum() / school_range_count_2, 2)
ss2_overall_passing_rate = round(school_size_2['Overall Pass Rate'].sum() / school_range_count_2, 2)



school_size_df = pd.DataFrame({
    'School Sizes': [ss0_range, ss1_range, ss2_range],
    'Average Math Score':[ss0_average_math, ss1_average_math, ss2_average_math],
    'Average Reading Score':[ss0_average_reading, ss1_average_reading, ss2_average_reading],
    'Percent Passing Math':[ss0_percent_passing_math, ss1_percent_passing_math, ss2_percent_passing_math],
    'Percent Passing Reading':[ss0_percent_passing_reading, ss1_percent_passing_reading, ss2_percent_passing_reading],
    'Overall Passing Rate':[ss0_overall_passing_rate, ss1_overall_passing_rate, ss2_overall_passing_rate]
})

school_size_df

,School Sizes,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
0,Small,83.50,83.88,93.58,96.59,95.09
1,Medium,78.43,81.77,73.46,84.48,78.97
2,Large,77.06,80.92,66.46,81.06,73.76

In [21]:
#

In [22]:
# Scores by School Type

school_summary_df

school_district = school_summary_df.loc[school_summary_df['Type'] == 'District', :]

school_district_count = school_district['School Name'].count()

type_name_1 = 'District'
district_average_math = round(school_district['Average Math Score'].sum() / school_district_count, 2)
district_average_reading = round(school_district['Average Reading Score'].sum() / school_district_count, 2)
district_percent_passing_math = round(school_district['Percent Passing Math'].sum() / school_district_count, 2)
district_percent_passing_reading = round(school_district['Percent Passing Reading'].sum() / school_district_count, 2)
district_overall_passing_rate = round(school_district['Overall Pass Rate'].sum() / school_district_count, 2)


school_charter = school_summary_df.loc[school_summary_df['Type'] == 'Charter', :]

school_charter_count = school_charter['School Name'].count()

type_name_2 = 'Charter'
charter_average_math = round(school_charter['Average Math Score'].sum() / school_charter_count, 2)
charter_average_reading = round(school_charter['Average Reading Score'].sum() / school_charter_count, 2)
charter_percent_passing_math = round(school_charter['Percent Passing Math'].sum() / school_charter_count, 2)
charter_percent_passing_reading = round(school_charter['Percent Passing Reading'].sum() / school_charter_count, 2)
charter_overall_passing_rate = round(school_charter['Overall Pass Rate'].sum() / school_charter_count, 2)


school_type_df = pd.DataFrame({
    'School Type': [type_name_1, type_name_2],
    'Average Math Score':[district_average_math, charter_average_math],
    'Average Reading Score':[district_average_reading, charter_average_reading],
    'Percent Passing Math':[district_percent_passing_math, charter_percent_passing_math],
    'Percent Passing Reading':[district_percent_passing_reading, charter_percent_passing_reading],
    'Overall Passing Rate':[district_overall_passing_rate, charter_overall_passing_rate]
})

school_type_df

,School Type,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
0,District,76.96,80.97,66.55,80.80,73.68
1,Charter,83.47,83.90,93.62,96.59,95.10